@import "./modal.css";
@import "./facilities.css";

/* Styling */

body {
    background-color: #E8F8F5;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

.filters {
    margin-left: 60px;
}

.witnessesButton, .criminalsButton, .facilitiesButton {
    margin-left: 60px;
}

header {
    background: #FFFFF6;
    padding: 30px;
    color: #0B5345;
    border-radius: 10px;
    border: 2px solid #0B5345;
}

header h1 {
    text-align: center;
    color: #0B5345;
}

h2 {
    color: #0B5345;
}

/*Criminals Boxes*/

.criminal, .facility {
    border: 1px dotted black;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #0B5345;
    color: #E8F8F5;
}

/*Criminals*/

.criminalsContainer, .facilitiesContainer {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 5px;
}

/*Includes Criminals and Aside*/

.mainContent {
    display: flex;
    margin: 5px 30px;
}


.criminalsContainer {
    text-align: center;
    width: 80%;
}

/* Notes */

.noteListContainer h3 {
    text-align: center;
}

.noteListContainer {
    width: 20%;
    padding: 30px;
    align-items: center;
    height: 1000px;
    color: #0B5345;
}

.noteFormContainer {
    display: flex;
    flex-direction: column;
}

/*Notes Buttons*/

button {
    margin: 5px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

#saveNote {
    width: 90px;
}

#showNotes {
    width: 90px;
}

/* Witnesses */

.witnessesContainer {
    color: #0B5345;
    text-align: center;
}

.witnesses {
    background: #FFFFF6;
    color: #0B5345;
    align-items: center;
    border: 2px solid #0B5345;
    border-radius: 10px;
    margin: 30px 200px; 
    padding: 15px;
}
