@import "./modal.css";

/*Header*/

.filters {
    margin: 20px;
}

/*Criminals Boxes*/

.criminals {
    border: 1px dotted black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

/*Criminals*/

.criminalsList {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 5px;
}

/*Includes Criminals and Aside*/

.mainContent {
    display: flex;
    margin: 5px 30px;
}


/*Includes H3*/

.criminalsContainer {
    text-align: center;
    width: 80%;
}

.noteListContainer h3 {
    text-align: center;
}

.noteListContainer {
    width: 20%;
    padding: 30px;
    border: 1px dotted black;
    align-items: center;
    height: 1000px;
}

.noteFormContainer {
    display: flex;
    flex-direction: column;
}

/*Buttons*/

button {
    margin: 5px;
}

#saveNote {
    width: 90px;
}

#showNotes {
    width: 90px;
}